
ul.nav.nav-list.nav-pills.nav-stacked.abn-tree

  li.abn-tree-row(
    ng-repeat='row in tree_rows | filter:{visible:true} track by row.branch.uid'
    ng-animate="'abn-tree-animate'"
    ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'') + ' ' +row.classes.join(' ')"
    )

    a.indented(ng-click="user_clicks_item(row.branch)")

      i.tree-icon(ng-class="row.tree_icon")

      span.tree-label {{ row.label }}

    i.action-icon(
      ng-class="row.action_icon"
      ng-click="user_clicks_branch_action(row.branch)"
      )
